SECRET_KEY=JFs-VCJmRIRO0PpBQoGewHH5iRtKzpZHqpYbindfo-Kkza6G_e7nOxRhfVWDxw76PKY
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DB_NAME=quizapp
DB_USER=postgres
DB_PASSWORD=sindhiya@2005
DB_HOST=localhost
DB_PORT=5433
GEMINI_API_KEY=AIzaSyBNmYcc64h6AiDsxIkzxToBtW4mLKeUBP0
CORS_ALLOWED_ORIGINS=http://localhost:3000
